p{
	margin: 0rem;
	margin-left: 1rem;
	font-size: 0.8rem;
}

.maincard{
	border-bottom: 5px solid blue;
	width: 15rem;
	height: auto;
	margin-left: 2rem;
	
} 

.main{
	display: flex;
	flex-direction: column;
}