.loginImg{
   width: 42rem;
  height: 40rem;
}
.formMain{
	width: 30rem;
	margin-left: 7rem;
	margin-top: 7rem;
}
.logimg{
	width: 2rem;
	height: auto;
	margin-left: 14rem;
}

.topone{
	margin-top: 6rem;
}

.testomonial{
	margin-left: 9rem;
}
